## Linear Regression Assignment

### Build the linear regression model using scikit learn in boston data to predict 'Price' based on other dependent variable.

In [1]:
import pandas as pd          # importing all the required libraries
import numpy as np
import scipy.stats as stats
import matplotlib.pyplot as plt
import sklearn

### Loading the boston data set
There are several ways either you load it from sklearn as shown below or csv file

In [2]:
#from sklearn.datasets import load_boston
#boston = load_boston()
#bos = pd.DataFrame(boston.data)

In [3]:
df = pd.read_csv('Boston.csv')

In [4]:
df.head()     #head function shows us the top 5 rows of our datasets

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [5]:
df.drop('Unnamed: 0',axis=1,inplace=True)

In [6]:
df.describe()  #describe function used to take a peek at our data distribution numerically

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.677082,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [7]:
df.isnull().sum()      #we are checking our data has any missing values or not

crim       0
zn         0
indus      0
chas       0
nox        0
rm         0
age        0
dis        0
rad        0
tax        0
ptratio    0
black      0
lstat      0
medv       0
dtype: int64

In [8]:
df.info()   #give us the information about the data variables,property and count

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   crim     506 non-null    float64
 1   zn       506 non-null    float64
 2   indus    506 non-null    float64
 3   chas     506 non-null    int64
 4   nox      506 non-null    float64
 5   rm       506 non-null    float64
 6   age      506 non-null    float64
 7   dis      506 non-null    float64
 8   rad      506 non-null    int64
 9   tax      506 non-null    int64
 10  ptratio  506 non-null    float64
 11  black    506 non-null    float64
 12  lstat    506 non-null    float64
 13  medv     506 non-null    float64
dtypes: float64(11), int64(3)
memory usage: 55.5 KB

In [9]:
X=df.drop('medv',axis=1)     #splitting the datasets into dependent and independent variable
y=df['medv']

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.25,random_state=101) #splitting the datasets along with size and random state

In [12]:
from sklearn.linear_model import LinearRegression  #importing linear regression algo

In [13]:
reg = LinearRegression()  #creating reg object

In [14]:
from sklearn.preprocessing import StandardScaler #scaling so that data would become on a single scale.

In [15]:
#scaler = StandardScaler()

In [16]:
#X_train = scaler.fit_transform(X_train)
#X_test=scaler.transform(X_test)

In [17]:
reg.fit(X_train,y_train)     #fitting the data

LinearRegression()

In [18]:
y_pred = reg.predict(X_test)    #predicting the test datasets

In [19]:
from sklearn.metrics import r2_score

In [20]:
print(r2_score(y_pred,y_test))  #checking the accuracy of the model

0.5882240380094259

# This is it for this assignment as we have to prepare a regression model